<a href="https://colab.research.google.com/github/Aryamore/MSC_FDS_527/blob/main/practical_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [39]:
import sqlite3
con=sqlite3.connect("portal_mammals.sqlite")
cur=con.cursor()
for row in cur.execute("SELECT * FROM species;"):
   print(row)
con.close()

('AB', 'Amphispiza', 'bilineata', 'Bird')
('AH', 'Ammospermophilus', 'harrisi', 'Rodent')
('AS', 'Ammodramus', 'savannarum', 'Bird')
('BA', 'Baiomys', 'taylori', 'Rodent')
('CB', 'Campylorhynchus', 'brunneicapillus', 'Bird')
('CM', 'Calamospiza', 'melanocorys', 'Bird')
('CQ', 'Callipepla', 'squamata', 'Bird')
('CS', 'Crotalus', 'scutalatus', 'Reptile')
('CT', 'Cnemidophorus', 'tigris', 'Reptile')
('CU', 'Cnemidophorus', 'uniparens', 'Reptile')
('CV', 'Crotalus', 'viridis', 'Reptile')
('DM', 'Dipodomys', 'merriami', 'Rodent')
('DO', 'Dipodomys', 'ordii', 'Rodent')
('DS', 'Dipodomys', 'spectabilis', 'Rodent')
('DX', 'Dipodomys', 'sp.', 'Rodent')
('EO', 'Eumeces', 'obsoletus', 'Reptile')
('GS', 'Gambelia', 'silus', 'Reptile')
('NL', 'Neotoma', 'albigula', 'Rodent')
('NX', 'Neotoma', 'sp.', 'Rodent')
('OL', 'Onychomys', 'leucogaster', 'Rodent')
('OT', 'Onychomys', 'torridus', 'Rodent')
('OX', 'Onychomys', 'sp.', 'Rodent')
('PB', 'Chaetodipus', 'baileyi', 'Rodent')
('PC', 'Pipilo', 'chlorurus', 'Bird')
('PE', 'Peromyscus', 'eremicus', 'Rodent')
('PF', 'Perognathus', 'flavus', 'Rodent')
('PG', 'Pooecetes', 'gramineus', 'Bird')
('PH', 'Perognathus', 'hispidus', 'Rodent')
('PI', 'Chaetodipus', 'intermedius', 'Rodent')
('PL', 'Peromyscus', 'leucopus', 'Rodent')
('PM', 'Peromyscus', 'maniculatus', 'Rodent')
('PP', 'Chaetodipus', 'penicillatus', 'Rodent')
('PU', 'Pipilo', 'fuscus', 'Bird')
('PX', 'Chaetodipus', 'sp.', 'Rodent')
('RF', 'Reithrodontomys', 'fulvescens', 'Rodent')
('RM', 'Reithrodontomys', 'megalotis', 'Rodent')
('RO', 'Reithrodontomys', 'montanus', 'Rodent')
('RX', 'Reithrodontomys', 'sp.', 'Rodent')
('SA', 'Sylvilagus', 'audubonii', 'Rabbit')
('SB', 'Spizella', 'breweri', 'Bird')
('SC', 'Sceloporus', 'clarki', 'Reptile')
('SF', 'Sigmodon', 'fulviventer', 'Rodent')
('SH', 'Sigmodon', 'hispidus', 'Rodent')
('SO', 'Sigmodon', 'ochrognathus', 'Rodent')
('SS', 'Spermophilus', 'spilosoma', 'Rodent')
('ST', 'Spermophilus', 'tereticaudus', 'Rodent')
('SU', 'Sceloporus', 'undulatus', 'Reptile')
('SX', 'Sigmodon', 'sp.', 'Rodent')
('UL', 'Lizard', 'sp.', 'Reptile')
('UP', 'Pipilo', 'sp.', 'Bird')
('UR', 'Rodent', 'sp.', 'Rodent')
('US', 'Sparrow', 'sp.', 'Bird')
('ZL', 'Zonotrichia', 'leucophrys', 'Bird')
('ZM', 'Zenaida', 'macroura', 'Bird')

In [40]:
import sqlite3
con=sqlite3.connect("portal_mammals.sqlite")
cur=con.cursor()
cur.execute('SELECT plot_id FROM plots WHERE plot_type="Control"')
print(cur.fetchall())
cur.execute('SELECT species FROM species WHERE taxa="Bird"')
print(cur.fetchone())
con.close()

[(2,), (4,), (8,), (11,), (12,), (14,), (17,), (22,)]
('bilineata',)

In [41]:
import pandas as pd
import sqlite3
con=sqlite3.connect("portal_mammals.sqlite")
df=pd.read_sql_query("SELECT * FROM surveys",con)
print(df.head())
con.close()

   record_id  month  day  year  plot_id species_id sex  hindfoot_length  \
0          1      7   16  1977        2         NL   M             32.0
1          2      7   16  1977        3         NL   M             33.0
2          3      7   16  1977        2         DM   F             37.0
3          4      7   16  1977        7         DM   M             36.0
4          5      7   16  1977        3         DM   M             35.0

   weight
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN

In [52]:
from pandas import DataFrame
Cars2={'Brand':['Honda Civic','Toyota Corolla','Ford Focus','Audi A4'],
      'Price':[22000,25000,27000,35000]
      }
df=DataFrame(Cars2,columns=['Brand','Price'])
print(df)

            Brand  Price
0     Honda Civic  22000
1  Toyota Corolla  25000
2      Ford Focus  27000
3         Audi A4  35000

In [54]:
import sqlite3
conn=sqlite3.connect('TestDB')
c=conn.cursor()
#conn.close()
c.execute("CREATE TABLE Cars(Brand text,Price Number)")
conn.commit()

In [55]:
df.to_sql('Cars',conn,if_exists='replace',index=False)
df

            Brand  Price
0     Honda Civic  22000
1  Toyota Corolla  25000
2      Ford Focus  27000
3         Audi A4  35000

In [56]:
c.execute('''SELECT Brand,max(Price)from Cars''')

In [57]:
df=DataFrame(c.fetchall(),columns=['Brand','Price'])
df

     Brand  Price
0  Audi A4  35000

In [58]:
import pandas as pd
import os
import  sqlite3
import pandas as pd
name=['arya','shaheen','pooja']
clss=['msc1','mac2','msc3']
roll_no=[1,2,3]
marks=[10,15,5]
result=['pass','pass','fail']
msc=zip(name,clss,roll_no,marks,result)
columns=['names','class','roll_no','marks',"results"]
df=pd.DataFrame(data=msc,columns=columns)
df
df.to_csv('DataFrame.csv',index=False)
df_csv=pd.read_csv('DataFrame.csv')
df_csv

     names class  roll_no  marks results
0     arya  msc1        1     10    pass
1  shaheen  mac2        2     15    pass
2    pooja  msc3        3      5    fail

In [59]:
import sqlite3
from sqlalchemy import create_engine
db_filename=r'studentdata,db'
con=sqlite3.connect(db_filename)
df.to_sql('student',con,schema=None,if_exists='replace',index_label=None,chunksize=None,dtype=None)
con.close()
db_file=r'studentdata.db'
engine=create_engine(r"sqlite:///{}".format(db_filename))
sql='select * from student'
studf=pd.read_sql(sql,engine)
studf

   index    names class  roll_no  marks results
0      0     arya  msc1        1     10    pass
1      1  shaheen  mac2        2     15    pass
2      2    pooja  msc3        3      5    fail

In [60]:
import pandas as pd
stud_id=['rj101','rj102','rj103','rj104']
sname=['shaheen','pooja','nidhi','arya']
lname=['shaikh','yadav','sathe','more']
dept=['bcom','bms','bsc','bsc cs']
email=['shaheen10@gmail.com','pooja15@gmail.com','nidhi02@gmail.com','arya01@gmail.com']
stud_data=zip(stud_id,sname,lname,dept,email)
df=pd.DataFrame(data=stud_data,columns=['stud_id','sname','lname','dept','email'])
df

  stud_id    sname   lname    dept                email
0   rj101  shaheen  shaikh    bcom  shaheen10@gmail.com
1   rj102    pooja   yadav     bms    pooja15@gmail.com
2   rj103    nidhi   sathe     bsc    nidhi02@gmail.com
3   rj104     arya    more  bsc cs     arya01@gmail.com

In [62]:
import pandas as pd 
state=pd.read_csv("US_violent_crime.csv")
state.head()
def some_func(x):
  return x*2
state.apply(some_func)
state.apply(lambda n:n*2)

                           State  Murder  Assault  UrbanPop  Rape
0                 AlabamaAlabama    26.4      472       116  42.4
1                   AlaskaAlaska    20.0      526        96  89.0
2                 ArizonaArizona    16.2      588       160  62.0
3               ArkansasArkansas    17.6      380       100  39.0
4           CaliforniaCalifornia    18.0      552       182  81.2
5               ColoradoColorado    15.8      408       156  77.4
6         ConnecticutConnecticut     6.6      220       154  22.2
7               DelawareDelaware    11.8      476       144  31.6
8                 FloridaFlorida    30.8      670       160  63.8
9                 GeorgiaGeorgia    34.8      422       120  51.6
10                  HawaiiHawaii    10.6       92       166  40.4
11                    IdahoIdaho     5.2      240       108  28.4
12              IllinoisIllinois    20.8      498       166  48.0
13                IndianaIndiana    14.4      226       130  42.0
14                      IowaIowa     4.4      112       114  22.6
15                  KansasKansas    12.0      230       132  36.0
16              KentuckyKentucky    19.4      218       104  32.6
17            LouisianaLouisiana    30.8      498       132  44.4
18                    MaineMaine     4.2      166       102  15.6
19              MarylandMaryland    22.6      600       134  55.6
20    MassachusettsMassachusetts     8.8      298       170  32.6
21              MichiganMichigan    24.2      510       148  70.2
22            MinnesotaMinnesota     5.4      144       132  29.8
23        MississippiMississippi    32.2      518        88  34.2
24              MissouriMissouri    18.0      356       140  56.4
25                MontanaMontana    12.0      218       106  32.8
26              NebraskaNebraska     8.6      204       124  33.0
27                  NevadaNevada    24.4      504       162  92.0
28    New HampshireNew Hampshire     4.2      114       112  19.0
29          New JerseyNew Jersey    14.8      318       178  37.6
30          New MexicoNew Mexico    22.8      570       140  64.2
31              New YorkNew York    22.2      508       172  52.2
32  North CarolinaNorth Carolina    26.0      674        90  32.2
33      North DakotaNorth Dakota     1.6       90        88  14.6
34                      OhioOhio    14.6      240       150  42.8
35              OklahomaOklahoma    13.2      302       136  40.0
36                  OregonOregon     9.8      318       134  58.6
37      PennsylvaniaPennsylvania    12.6      212       144  29.8
38      Rhode IslandRhode Island     6.8      348       174  16.6
39  South CarolinaSouth Carolina    28.8      558        96  45.0
40      South DakotaSouth Dakota     7.6      172        90  25.6
41            TennesseeTennessee    26.4      376       118  53.8
42                    TexasTexas    25.4      402       160  51.0
43                      UtahUtah     6.4      240       160  45.8
44                VermontVermont     4.4       96        64  22.4
45              VirginiaVirginia    17.0      312       126  41.4
46          WashingtonWashington     8.0      290       146  52.4
47    West VirginiaWest Virginia    11.4      162        78  18.6
48            WisconsinWisconsin     5.2      106       132  21.6
49                WyomingWyoming    13.6      322       120  31.2

In [63]:
state.transform(func= lambda x : x * 10)

,State,Murder,Assault,UrbanPop,Rape
0,AlabamaAlabamaAlabamaAlabamaAlabamaAlabamaAlab...,132.0,2360,580,212.0
1,AlaskaAlaskaAlaskaAlaskaAlaskaAlaskaAlaskaAlas...,100.0,2630,480,445.0
2,ArizonaArizonaArizonaArizonaArizonaArizonaAriz...,81.0,2940,800,310.0
3,ArkansasArkansasArkansasArkansasArkansasArkans...,88.0,1900,500,195.0
4,CaliforniaCaliforniaCaliforniaCaliforniaCalifo...,90.0,2760,910,406.0
5,ColoradoColoradoColoradoColoradoColoradoColora...,79.0,2040,780,387.0
6,ConnecticutConnecticutConnecticutConnecticutCo...,33.0,1100,770,111.0
7,DelawareDelawareDelawareDelawareDelawareDelawa...,59.0,2380,720,158.0
8,FloridaFloridaFloridaFloridaFloridaFloridaFlor...,154.0,3350,800,319.0
9,GeorgiaGeorgiaGeorgiaGeorgiaGeorgiaGeorgiaGeor...,174.0,2110,600,258.0
10,HawaiiHawaiiHawaiiHawaiiHawaiiHawaiiHawaiiHawa...,53.0,460,830,202.0
11,IdahoIdahoIdahoIdahoIdahoIdahoIdahoIdahoIdahoI...,26.0,1200,540,142.0
12,IllinoisIllinoisIllinoisIllinoisIllinoisIllino...,104.0,2490,830,240.0
13,IndianaIndianaIndianaIndianaIndianaIndianaIndi...,72.0,1130,650,210.0
14,IowaIowaIowaIowaIowaIowaIowaIowaIowaIowa,22.0,560,570,113.0
15,KansasKansasKansasKansasKansasKansasKansasKans...,60.0,1150,660,180.0
16,KentuckyKentuckyKentuckyKentuckyKentuckyKentuc...,97.0,1090,520,163.0
17,LouisianaLouisianaLouisianaLouisianaLouisianaL...,154.0,2490,660,222.0
18,MaineMaineMaineMaineMaineMaineMaineMaineMaineM...,21.0,830,510,78.0
19,MarylandMarylandMarylandMarylandMarylandMaryla...,113.0,3000,670,278.0
20,MassachusettsMassachusettsMassachusettsMassach...,44.0,1490,850,163.0
21,MichiganMichiganMichiganMichiganMichiganMichig...,121.0,2550,740,351.0
22,MinnesotaMinnesotaMinnesotaMinnesotaMinnesotaM...,27.0,720,660,149.0
23,MississippiMississippiMississippiMississippiMi...,161.0,2590,440,171.0
24,MissouriMissouriMissouriMissouriMissouriMissou...,90.0,1780,700,282.0
25,MontanaMontanaMontanaMontanaMontanaMontanaMont...,60.0,1090,530,164.0
26,NebraskaNebraskaNebraskaNebraskaNebraskaNebras...,43.0,1020,620,165.0
27,NevadaNevadaNevadaNevadaNevadaNevadaNevadaNeva...,122.0,2520,810,460.0
28,New HampshireNew HampshireNew HampshireNew Ham...,21.0,570,560,95.0
29,New JerseyNew JerseyNew JerseyNew JerseyNew Je...,74.0,1590,890,188.0
30,New MexicoNew MexicoNew MexicoNew MexicoNew Me...,114.0,2850,700,321.0
31,New YorkNew YorkNew YorkNew YorkNew YorkNew Yo...,111.0,2540,860,261.0
32,North CarolinaNorth CarolinaNorth CarolinaNort...,130.0,3370,450,161.0
33,North DakotaNorth DakotaNorth DakotaNorth Dako...,8.0,450,440,73.0
34,OhioOhioOhioOhioOhioOhioOhioOhioOhioOhio,73.0,1200,750,214.0
35,OklahomaOklahomaOklahomaOklahomaOklahomaOklaho...,66.0,1510,680,200.0
36,OregonOregonOregonOregonOregonOregonOregonOreg...,49.0,1590,670,293.0
37,PennsylvaniaPennsylvaniaPennsylvaniaPennsylvan...,63.0,1060,720,149.0
38,Rhode IslandRhode IslandRhode IslandRhode Isla...,34.0,1740,870,83.0
39,South CarolinaSouth CarolinaSouth CarolinaSout...,144.0,2790,480,225.0
40,South DakotaSouth DakotaSouth DakotaSouth Dako...,38.0,860,450,128.0
41,TennesseeTennesseeTennesseeTennesseeTennesseeT...,132.0,1880,590,269.0
42,TexasTexasTexasTexasTexasTexasTexasTexasTexasT...,127.0,2010,800,255.0
43,UtahUtahUtahUtahUtahUtahUtahUtahUtahUtah,32.0,1200,800,229.0
44,VermontVermontVermontVermontVermontVermontVerm...,22.0,480,320,112.0
45,VirginiaVirginiaVirginiaVirginiaVirginiaVirgin...,85.0,1560,630,207.0
46,WashingtonWashingtonWashingtonWashingtonWashin...,40.0,1450,730,262.0
47,West VirginiaWest VirginiaWest VirginiaWest Vi...,57.0,810,390,93.0
48,WisconsinWisconsinWisconsinWisconsinWisconsinW...,26.0,530,660,108.0
49,WyomingWyomingWyomingWyomingWyomingWyomingWyom...,68.0,1610,600,156.0

In [ ]:
import pandas as pd

In [64]:
import pandas as pd
state=pd.read_csv("US_violent_crime.csv")
state.head()
def some_func(x):
  return x*2

In [65]:
import pandas as pd 
state=pd.read_csv("US_violent_crime.csv")
mean_purchase=state.groupby('State')["Murder"].mean().rename("User_mean").reset_index()
print(mean_purchase)

             State  User_mean
0          Alabama       13.2
1           Alaska       10.0
2          Arizona        8.1
3         Arkansas        8.8
4       California        9.0
5         Colorado        7.9
6      Connecticut        3.3
7         Delaware        5.9
8          Florida       15.4
9          Georgia       17.4
10          Hawaii        5.3
11           Idaho        2.6
12        Illinois       10.4
13         Indiana        7.2
14            Iowa        2.2
15          Kansas        6.0
16        Kentucky        9.7
17       Louisiana       15.4
18           Maine        2.1
19        Maryland       11.3
20   Massachusetts        4.4
21        Michigan       12.1
22       Minnesota        2.7
23     Mississippi       16.1
24        Missouri        9.0
25         Montana        6.0
26        Nebraska        4.3
27          Nevada       12.2
28   New Hampshire        2.1
29      New Jersey        7.4
30      New Mexico       11.4
31        New York       11.1
32  North Carolina       13.0
33    North Dakota        0.8
34            Ohio        7.3
35        Oklahoma        6.6
36          Oregon        4.9
37    Pennsylvania        6.3
38    Rhode Island        3.4
39  South Carolina       14.4
40    South Dakota        3.8
41       Tennessee       13.2
42           Texas       12.7
43            Utah        3.2
44         Vermont        2.2
45        Virginia        8.5
46      Washington        4.0
47   West Virginia        5.7
48       Wisconsin        2.6
49         Wyoming        6.8

In [67]:
print(state.isnull().sum())

State       0
Murder      0
Assault     0
UrbanPop    0
Rape        0
dtype: int64

In [66]:
import pandas as pd
import numpy as np
cols=['col0','col1','col2','col3','col4']
rows=['row0','row1','row2','row3','row4']
data=np.random.randint(0,100,size=(5,5))
df=pd.DataFrame(data,columns=cols,index=rows)
df.head()

      col0  col1  col2  col3  col4
row0    70    57    91    36     3
row1    39     6    49    64    42
row2    44    31     1    25    53
row3    18    14    63    76    84
row4    14    11    26    89    47

In [68]:
df.iloc[4,2]

26

In [69]:
df.iloc[3,3]=0
df.iloc[1,2]=np.nan
df.iloc[4,0]=np.nan
df['col5']=0
df['col6']=np.nan
df.head()

      col0  col1  col2  col3  col4  col5  col6
row0  70.0    57  91.0    36     3     0   NaN
row1  39.0     6   NaN    64    42     0   NaN
row2  44.0    31   1.0    25    53     0   NaN
row3  18.0    14  63.0     0    84     0   NaN
row4   NaN    11  26.0    89    47     0   NaN

In [70]:
df.loc[:,df.all()]

      col0  col1  col2  col4  col6
row0  70.0    57  91.0     3   NaN
row1  39.0     6   NaN    42   NaN
row2  44.0    31   1.0    53   NaN
row3  18.0    14  63.0    84   NaN
row4   NaN    11  26.0    47   NaN

In [71]:
df.loc[:,df.any()]

      col0  col1  col2  col3  col4
row0  70.0    57  91.0    36     3
row1  39.0     6   NaN    64    42
row2  44.0    31   1.0    25    53
row3  18.0    14  63.0     0    84
row4   NaN    11  26.0    89    47

In [72]:
df.loc[:,df.isnull().any()]

      col0  col2  col6
row0  70.0  91.0   NaN
row1  39.0   NaN   NaN
row2  44.0   1.0   NaN
row3  18.0  63.0   NaN
row4   NaN  26.0   NaN

In [73]:
df.iloc[4,2]

26.0