<a href="https://colab.research.google.com/github/Aryamore/MSC_FDS_527/blob/main/practical_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
import sqlite3
con=sqlite3.connect("portal_mammals.sqlite")
cur=con.cursor()
for row in cur.execute("SELECT * FROM species;"):
   print(row)
con.close()

OperationalError: ignored

In [25]:
import sqlite3
con=sqlite3.connect("portal_mammals.sqlite")
cur=con.cursor()
cur.execute('SELECT plot_id FROM plots WHERE plot_type="Control"')
print(cur.fetchall())
cur.execute('SELECT species FROM species WHERE taxa="Bird"')
print(cur.fetchone())
con.close()

OperationalError: ignored

In [ ]:
import pandas as pd
import sqlite3
con=sqlite3.connect("portal_mammals.sqlite")
df=pd.read_sql_query("SELECT * FROM surveys",con)
print(df.head())
con.close()

In [ ]:
from pandas import DataFrame
Cars={'Brand':['Honda Civic','Toyota Corolla','Ford Focus','Audi A4'],
      'Price':[22000,25000,27000,35000]
      }
df=DataFrame(Cars,columns=['Brand','Price'])
print(df)

In [ ]:
import sqlite3
conn=sqlite3.connect('TestDB1.db')
c=conn.cursor()
c.execute("CREATE TABLE Cars(Brand text,Price Number)")
conn.commit()

In [ ]:
df.to_sql('Cars',conn,if_exists='replace',index=False)
df

In [ ]:
c.execute('''SELECT Brand,max(Price)from CARS2''')

In [ ]:
df=DataFrame(c.fetchall(),columns=['Brand','Price'])
df

In [ ]:
import pandas as pd
import os
import  sqlite3
import pandas as pd
name=['arya','shaheen','pooja']
clss=['msc1','mac2','msc3']
roll_no=[1,2,3]
marks=[10,15,5]
result=['pass','pass','fail']
msc=zip(name,clss,roll_no,marks,result)
columns=['names','class','roll_no','marks',"results"]
df=pd.DataFrame(data=msc,columns=columns)
df
df.to_csv('DataFrame.csv',index=False)
df_csv=pd.read_csv('DataFrame.csv')
df_csv

In [ ]:
import sqlite3
from sqlalchemy import create_engine
db_filename=r'studentdata,db'
con=sqlite3.connect(db_filename)
df.to_sql('student',con,schema=None,if_exists='replace',index_label=None,chunksize=None,dtype=None)
con.close()
db_file=r'studentdata.db'
engine=create_engine(r"sqlite:///{}".format(db_filename))
sql='select * from student'
studf=pd.read_sql(sql,engine)
studf

In [ ]:
import pandas as pd
stud_id=['rj101','rj102','rj103','rj104']
sname=['shaheen','pooja','nidhi','arya']
lname=['shaikh','yadav','sathe','more']
dept=['bcom','bms','bsc','bsc cs']
email=['shaheen10@gmail.com','pooja15@gmail.com','nidhi02@gmail.com','arya01@gmail.com']
stud_data=zip(stud_id,sname,lname,dept,email)
df=pd.DataFrame(data=stud_data,columns=['stud_id','sname','lname','dept','email'])
df

In [ ]:
import pandas as pd 
state=pd.read_csv("US_violent_crime.csv")
state.head()
def some_func(x):
  return x*2
state.apply(some_func)
state.apply(lambda n:n*2)

In [ ]:
state.transform(func= lambda x : x * 10)

In [3]:
import pandas as pd

In [10]:
import pandas as pd
state=pd.read_csv("US_violent_crime.csv")
state.head()
def some_func(x):
  return x*2

In [13]:
import pandas as pd 
state=pd.read_csv("US_violent_crime.csv")
mean_purchase=state.groupby('State')["Murder"].mean().rename("User_mean").reset_index()
print(mean_purchase)

             State  User_mean
0          Alabama       13.2
1           Alaska       10.0
2          Arizona        8.1
3         Arkansas        8.8
4       California        9.0
5         Colorado        7.9
6      Connecticut        3.3
7         Delaware        5.9
8          Florida       15.4
9          Georgia       17.4
10          Hawaii        5.3
11           Idaho        2.6
12        Illinois       10.4
13         Indiana        7.2
14            Iowa        2.2
15          Kansas        6.0
16        Kentucky        9.7
17       Louisiana       15.4
18           Maine        2.1
19        Maryland       11.3
20   Massachusetts        4.4
21        Michigan       12.1
22       Minnesota        2.7
23     Mississippi       16.1
24        Missouri        9.0
25         Montana        6.0
26        Nebraska        4.3
27          Nevada       12.2
28   New Hampshire        2.1
29      New Jersey        7.4
30      New Mexico       11.4
31        New York       11.1
32  North Carolina       13.0
33    North Dakota        0.8
34            Ohio        7.3
35        Oklahoma        6.6
36          Oregon        4.9
37    Pennsylvania        6.3
38    Rhode Island        3.4
39  South Carolina       14.4
40    South Dakota        3.8
41       Tennessee       13.2
42           Texas       12.7
43            Utah        3.2
44         Vermont        2.2
45        Virginia        8.5
46      Washington        4.0
47   West Virginia        5.7
48       Wisconsin        2.6
49         Wyoming        6.8

In [19]:
print(state.isnull().sum())

State       0
Murder      0
Assault     0
UrbanPop    0
Rape        0
dtype: int64

In [20]:
import pandas as pd
import numpy as np
cols=['col0','col1','col2','col3','col4']
rows=['row0','row1','row2','row3','row4']
data=np.random.randint(0,100,size=(5,5))
df=pd.DataFrame(data,columns=cols,index=rows)
df.head()

      col0  col1  col2  col3  col4
row0    90    79    44    34    31
row1    55    34    37    12    55
row2    63    63    18    79    59
row3    81    69    78    71    52
row4    47     7    97    37    82

In [21]:
df.iloc[4,2]

97

In [24]:
df.iloc[3,3]=0
df.iloc[1,2]=np.nan
df.iloc[4,0]=np.nan
df['col5']=0
df['col6']=np.nan
df.head()

      col0  col1  col2  col3  col4  col5  col6
row0  90.0    79  44.0    34    31     0   NaN
row1  55.0    34   NaN    12    55     0   NaN
row2  63.0    63  18.0    79    59     0   NaN
row3  81.0    69  78.0     0    52     0   NaN
row4   NaN     7  97.0    37    82     0   NaN

In [26]:
df.loc[:,df.all()]

      col0  col2  col6
row0  90.0  44.0   NaN
row1  55.0   NaN   NaN
row2  63.0  18.0   NaN
row3  81.0  78.0   NaN
row4   NaN  97.0   NaN

In [27]:
df.loc[:,df.any()]

      col0  col1  col2  col3  col4
row0  90.0    79  44.0    34    31
row1  55.0    34   NaN    12    55
row2  63.0    63  18.0    79    59
row3  81.0    69  78.0     0    52
row4   NaN     7  97.0    37    82

In [28]:
df.loc[:,df.isnull().any()]

      col0  col2  col6
row0  90.0  44.0   NaN
row1  55.0   NaN   NaN
row2  63.0  18.0   NaN
row3  81.0  78.0   NaN
row4   NaN  97.0   NaN

In [29]:
df.iloc[4,2]

97.0