<a href="https://colab.research.google.com/github/Aryamore/MSC_FDS_527/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import os
import  sqlite3 as lite
from sql import create_engine

In [23]:
import pandas as pd
name=['arya','shaheen','pooja']
clss=['msc1','mac2','msc3']
roll_no=[1,2,3]
marks=[10,15,5]
result=['pass','pass','fail']
msc=zip(name,clss,roll_no,marks,result)
columns=['names','class','roll_no','marks',"results"]
df=pd.DataFrame(data=msc,columns=columns)
df
df.to_csv('DataFrame.csv',index=False)

In [24]:
df_csv=pd.read_csv('DataFrame.csv')
df_csv

     names class  roll_no  marks results
0     arya  msc1        1     10    pass
1  shaheen  mac2        2     15    pass
2    pooja  msc3        3      5    fail